.footer {
  padding: 1rem 2rem 0;
  background-color: var(--hoq-dbrown);

  @include down(medium) {
    padding: 0 1rem;
  }

  &-links {
    display: flex;
    justify-content: space-around;

    @include down(large) {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
    }

    @include down(medium) {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
    }

    > div {
      margin: 1rem 0;

      h4 {
        font-size: 1.3rem;
        text-transform: uppercase;
        margin: 0.5rem 0;
        color: var(--hoq-brown);
      }

      ul {
        li {
          margin: 0.3rem 0;
        }
      }
    }
  }

  &-icons {
    display: flex;
    justify-content: space-around;

    @include down(medium) {
      flex-direction: column;
    }

    .social,
    .payment {
      &-icons {
        display: flex;
        justify-content: center;
        margin: 2rem 0 1rem;

        > a {
          display: block;
          margin: 0.5rem;

          > i {
            width: 2rem;
            height: 2rem;
          }

          > img {
            width: 100%;
            height: 2rem;
            object-fit: contain;
          }
        }
      }
    }
  }

  &-logo {
    width: 4rem;
    margin: 1rem auto;
  }

  hr {
    border-top: 0.01rem solid var(--hoq-white);
    width: 20%;
    margin: 0 auto;
  }

  &-copyright {
    text-align: center;
    font-size: 0.7rem;
    margin: 0.5rem 0;

    p {
      color: var(--hoq-brown);
    }

    @include down(medium) {
      font-size: 0.6rem;
    }
  }
}
