.header {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: right;
  padding: 0 2rem;
  background-color: var(--hoq-black);

  .cart {
    display: flex;
    color: var(--hoq-black);
    background-color: var(--hoq-lbrown);
    padding: 0 0.5rem;
    width: 3rem;

    img {
      width: 1rem;
      margin-right: 0.5rem;
    }
  }
}
