.home {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 4rem;

  @include down(medium) {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  &-text {
    border-radius: 1.5rem;
    position: relative;

    color: var(--hoq-white);

    .slide {
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
        object-position: 80% 100%;
        border-radius: 1.5rem;
        filter: brightness(50%);
      }

      div.content {
        position: absolute;
        top: 30%;
        left: 3%;
        z-index: 4;
      }
    }

    h1 {
      margin: 0.8rem 0;
    }
  }

  &-links {
    width: 100%;
    a {
      margin: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--hoq-dbrown);
      padding: 1rem 0.5rem;
      border-radius: 2.5rem;
      font-weight: 900;

      span {
        margin: 0 0.75rem;

        img {
          background-color: rgba(225, 225, 225, 0.9);
          border-radius: 2rem;
          padding: 0.5rem;
        }
      }
    }

    @include down(medium) {
      width: 80%;
    }
  }
}

.content {
  padding: 0 2rem;
  margin: 2rem 0 4rem;
}

.male {
  width: 95%;
  margin: 0 auto;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: var(--hoq-dbrown);
      @include up(large) {
        display: none;
      }
    }
  }

  hr {
    border-top: 1px solid var(--hoq-mbrown);
  }

  .shop {
    margin: 0 0 2rem;

    @include up(medium) {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    &-categories {
      display: none;

      li {
        padding: 1rem 0;
        border-bottom: 1px solid var(--hoq-mbrown);
        width: 60%;

        @include up(large) {
          display: block;
        }
      }

      @include up(medium) {
        display: block;
      }
    }

    &-btn {
      display: none;
    }

    &-icon {
      position: relative;
      padding: 26px 10px;
      cursor: pointer;

      .shop-line {
        display: block;
        position: relative;
        background: var(--hoq-dbrown);
        height: 4px;
        width: 20px;
        border-radius: 4px;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 4px;
          background: var(--hoq-dbrown);
          transition: background 0.8s ease;
        }

        &::before {
          transform: translateY(-0.5rem);
        }

        &::after {
          transform: translateY(0.5rem);
        }
      }

      @include up(medium) {
        display: none;
      }
    }

    &-items {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      @include up(medium) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      .shop-item {
        margin: 1rem 0;

        .add_to_bag {
          a.btn-bag {
            border: 1px solid var(--hoq-white);
            padding: 0.5rem;
            width: 100%;
            font-weight: 900;
            background-color: var(--hoq-dbrown);
            color: var(--hoq-white);
            margin: 0.5rem 0;
          }
        }
      }
    }
  }
}

.product {
  width: 70%;
  margin: 0 auto;
  display: grid;
  font-family: $inter;
  grid-template-columns: 1fr 1fr;
  //grid-template-rows: 50%;
  grid-gap: 1rem;

  @include down(medium) {
    grid-template-columns: 1fr;
    width: 100%;
  }

  &-images {
    width: 100%;
    padding: 0.5rem;

    > img {
      margin: 0.5rem 0;
      object-fit: contain;
    }
    .all-images {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1rem;
    }
  }

  &-content {
    padding: 0.5rem;

    .details {
      margin: 0.5rem 0 0;
      h2 {
        text-transform: capitalize;
        font-size: 2rem;
        color: var(--hoq-brown);
      }
    }

    .price {
      margin: 1rem 0 0;
      color: var(--hoq-brown);
      font-weight: bold;
      span {
        color: black;
        font-weight: normal;
      }
    }

    .about {
      margin: 1.5rem 0;
      h2 {
        text-transform: capitalize;
        font-size: 1rem;
        color: var(--hoq-brown);
      }

      p {
        margin: 1rem 0;
      }

      ul {
        padding: 1rem 0;
        li {
          margin: 0.5rem 0;
          color: var(--hoq-brown);
          background: url("/client/images/store/icons8-check-circle-50.png")
            left center no-repeat;
          background-size: 18px;
          padding-left: 1.7rem;
          font-weight: bold;

          span {
            color: var(--hoq-dbrown);
            font-weight: normal;
          }
        }
      }
    }

    .payment-info {
      margin: 0.8rem 0;

      input,
      .btn {
        border-radius: 25px;
        text-align: center;
        padding: 0.45rem 0.8rem;
        outline: 0;
        margin: 0 0 0.2rem 0.2rem;
      }

      input {
        border: 1px solid var(--hoq-brown);
        width: 60px;
        color: var(--hoq-brown);
      }

      .btn {
        background-color: var(--hoq-dbrown);
        color: var(--hoq-white);
        border: none;
      }
    }
  }
}

.contact {
  &-items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;

    @include down(medium) {
      grid-template-columns: 1fr;
    }

    .form {
      width: 100%;

      .form-item {
        width: 100%;
        margin: 0.8rem 0;

        input {
          margin-top: 0.5rem;
        }

        input,
        textarea {
          width: 100%;
          padding: 0.8rem 1rem;
          outline: none;
        }
      }
    }

    .map {
      width: 100%;

      .mapouter {
        position: relative;
        text-align: right;
        height: 25rem;
        width: 100%;
        padding: 2rem 0 0 0;

        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 100%;
          width: 100%;

          iframe {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

.tutorial {
  .book-class {
    .class-info {
      p {
        margin-top: 0.5rem;
      }
    }
    .hoq-packages {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1rem;
      margin: 1rem 0;

      @include down(medium) {
        grid-template-columns: 1fr;
      }

      .package {
        &-one,
        &-two,
        &-three {
          background-color: var(--hoq-dbrown);
          color: var(--hoq-white);
          padding: 1rem;
          border-radius: 1rem 0;
          margin: 2rem 0 0;

          h2 {
            color: var(--hoq-brown);
          }

          p {
            margin-top: 1rem;
          }

          ul {
            padding: 1.5rem 0 0;

            li {
              margin: 1rem 0;
            }
          }

          a.class-btn {
            background-color: var(black);
            border: 1px solid white;
            margin: 1rem 0 0;
            padding: 0.5rem;
            border-radius: 1rem;
          }
        }
      }
    }
  }
}
