//colors
$hoq-white: #fff;
$hoq-black: #090504;
$hoq-dbrown: #2f1506;
$hoq-brown: #9e6434;
$hoq-mbrown: #967852;
$hoq-lbrown: #ddd6ba;

//font
$inter: "Inter", sans-serif;
$jura: "Jura", sans-serif;
$lemonada: "Lemonada", cursive;
