@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Jura:wght@700&family=Lemonada:wght@300&display=swap");
.slideRight {
  position: relative;
  -webkit-animation: slideRight 10s;
          animation: slideRight 10s;
}

@-webkit-keyframes slideRight {
  from {
    right: -100px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    right: -100px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.slideUp {
  position: relative;
  -webkit-animation: slideUp 10s;
          animation: slideUp 10s;
}

@-webkit-keyframes slideUp {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.3;
  font-family: "Jura", sans-serif;
  width: 100%;
  background-color: #090504;
  color: #ddd6ba;
}

body nav,
body footer {
  background-color: #9e6434;
}

body.lightMode {
  background-color: #fff;
  color: #ddd6ba;
}

body.lightMode nav,
body.lightMode footer {
  background-color: #2f1506;
}

body.lightMode a {
  color: #fff;
}

body.lightMode a.btn {
  background-color: #2f1506;
  color: #fff;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

ul {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white {
  color: #fff;
}

.lbrown {
  color: #ddd6ba;
}

.bold {
  font-weight: 900;
  font-size: larger;
}

a.link {
  color: #fff;
}

a.link:hover {
  color: #ddd6ba;
}

a.btn {
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 2.5rem;
  font-weight: 900;
  background-color: #9e6434;
  color: #fff;
}

a img {
  width: 2.5rem;
  height: 2.5rem;
}

.lemonada {
  font-family: "Lemonada", cursive;
}

.inter {
  font-family: "Inter", sans-serif;
}

.md-b-font {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .md-b-font {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .l-font {
    font-size: 2.7rem;
  }
}

@media (min-width: 1200px) {
  .l-font {
    font-size: 4rem;
  }
}

.hidden {
  display: none;
}

.links-theme {
  margin-right: 2rem;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.wrapper-inner {
  height: inherit;
}

.loader {
  height: 100vh;
  width: 100%;
  background: #090504;
  color: #fff;
  text-transform: capitalize;
  z-index: 700;
  overflow: hidden;
}

.loader .loading {
  height: 10rem;
  width: 10rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #090504;
  position: relative;
  -webkit-box-shadow: 0.01rem 0.01rem 0.2rem 0.1rem #e1e1e1;
          box-shadow: 0.01rem 0.01rem 0.2rem 0.1rem #e1e1e1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
}

.loader .loading img {
  position: absolute;
  width: 5rem;
  -webkit-transform: translate(50%, 25%);
          transform: translate(50%, 25%);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0.01rem 0.01rem 0.2rem 0.1rem rgba(225, 225, 225, 0.7);
            box-shadow: 0.01rem 0.01rem 0.2rem 0.1rem rgba(225, 225, 225, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0.01rem 0.01rem 0.2rem 0.1rem rgba(225, 225, 225, 0.5);
            box-shadow: 0.01rem 0.01rem 0.2rem 0.1rem rgba(225, 225, 225, 0.5);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0.01rem 0.01rem 0.2rem 0.1rem rgba(225, 225, 225, 0.3);
            box-shadow: 0.01rem 0.01rem 0.2rem 0.1rem rgba(225, 225, 225, 0.3);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0.01rem 0.01rem 0.2rem 0.1rem rgba(225, 225, 225, 0.7);
            box-shadow: 0.01rem 0.01rem 0.2rem 0.1rem rgba(225, 225, 225, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0.01rem 0.01rem 0.2rem 0.1rem rgba(225, 225, 225, 0.5);
            box-shadow: 0.01rem 0.01rem 0.2rem 0.1rem rgba(225, 225, 225, 0.5);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0.01rem 0.01rem 0.2rem 0.1rem rgba(225, 225, 225, 0.3);
            box-shadow: 0.01rem 0.01rem 0.2rem 0.1rem rgba(225, 225, 225, 0.3);
  }
}

.wrapper {
  display: none;
}

.wrapper header.header nav {
  padding: 0 2rem;
}

@media (max-width: 424px) {
  .wrapper header.header nav {
    padding: 0 1rem;
  }
}

.wrapper header.header nav.nav img {
  padding-top: 0.5rem;
  width: 3.5rem;
}

.wrapper header.header .nav-hr {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .wrapper header.header main {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .wrapper header.header main {
    padding: 0 1rem;
  }
}

.wrapper header.header main div.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5rem;
}

@media (max-width: 767px) {
  .wrapper header.header main div.hero {
    display: block;
  }
}

.wrapper header.header main div.hero-text {
  height: 18rem;
  margin: 3rem 0 2.5rem;
  border-radius: 1.5rem;
  position: relative;
  -webkit-box-shadow: 0.01rem 0.01rem 0.2rem 0.01rem #e1e1e1;
          box-shadow: 0.01rem 0.01rem 0.2rem 0.01rem #e1e1e1;
  color: #fff;
}

@media (min-width: 768px) {
  .wrapper header.header main div.hero-text {
    height: 80%;
  }
}

.wrapper header.header main div.hero-text .slides {
  display: none;
  height: 100%;
}

.wrapper header.header main div.hero-text .slides img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 80% 100%;
     object-position: 80% 100%;
  border-radius: 1.5rem;
}

.wrapper header.header main div.hero-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem;
}

.wrapper header.header main div.hero-text .content {
  position: absolute;
  top: 25%;
  left: 3%;
  z-index: 4;
}

.wrapper header.header main div.hero-text h1 {
  margin-bottom: 0.5rem;
}

.wrapper header.header main div.hero-links {
  width: 100%;
}

.wrapper header.header main div.hero-links a {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper header.header main div.hero-links a span {
  margin: 0 0.75rem;
}

.wrapper header.header main div.hero-links a span img {
  background-color: rgba(225, 225, 225, 0.9);
  border-radius: 2rem;
  padding: 0.5rem;
}

@media (max-width: 767px) {
  .wrapper header.header main div.hero-links {
    width: 70%;
  }
}

.wrapper .sticky {
  border: none;
  background-color: #9e6434;
}

footer {
  margin: 0.5rem 0;
}

@media (min-width: 768px) {
  footer .footer-inner {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  footer .footer-inner {
    padding: 0 1rem;
  }
}

footer .footer-inner .links {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (max-width: 767px) {
  footer .footer-inner .links {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

footer .footer-inner .links > div {
  margin: 2rem 0 0;
}

footer .footer-inner .links > div ul li {
  margin: 0.5rem 0;
}

footer .footer-inner .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-inner .icons .social-icons,
footer .footer-inner .icons .payment-icons {
  margin: 2rem 0;
}

footer .footer-inner .icons .social-icons > a,
footer .footer-inner .icons .payment-icons > a {
  margin: 0.5rem;
}

@media (max-width: 767px) {
  footer .footer-inner .icons {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  footer .footer-inner {
    padding: 0 2rem;
  }
}

footer .footer-logo img {
  width: 3.5rem;
  margin-bottom: 0.5rem;
}

footer h4 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

footer div.copyright {
  text-align: center;
}

footer div.copyright p {
  font-size: 0.75rem;
}
/*# sourceMappingURL=style.css.map */